<script type="text/template" id="task-layout">
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" id="all-tasks-tab" class="tasks-tab active"><a href="#">Все</a></li>
  <li role="presentation" id="open-tasks-tab" class="tasks-tab"><a href="#">Ожидающие</a></li>
  <li role="presentation" id="in-progress-tasks-tab" class="tasks-tab"><a href="#">Принятые</a></li>
  <li role="presentation" id="done-tasks-tab" class="tasks-tab"><a href="#">Выполненые</a></li>
</ul>
{% comment %}<div id="all-task-list"></div>
<div id="open-task-list"></div>
<div id="in-progress-task-list"></div>
<div id="done-task-list"></div>{% endcomment %}

    <div id="task-list"></div>
</script>